<div id="contact-container">
	<div id="contact-postcard">
		<h1>Contact Me</h1>
		<form id="contact-form">
			<label for="name">Name</label>
			<input id="name" type="text">
		
			<label for="name">Email</label>
			<input id="name" type="email">
		
			<label for="name">Message</label>
			<input id="name" class="contact-message" type="text">
		</form>
		<div id="stamp">
			<div id="stamp-logo"></div>
			<div class="stamp-background"></div>
		</div>
	</div>
	<div id="green-background-strip"></div>
</div>